<h1>Productos</h1>

<section>
    {{#if payload}}
        {{#if this.user.first_name}}
            <h2>Bienvenido {{this.user.first_name}}</h2>
        {{else}}
            <h2>Bienvenidos</h2>
        {{/if}}
    {{/if}}

</section>

<section> 
    <div class="container d-flex align-content-stretch flex-wrap justify-content-evenly">
    {{#each payload}}
        <div class="card m-3" id="{{this._id}}" style="min-width:18rem; max-width: 18rem;">
            <img src={{this.thumbnails.[0]}} class="card-img-top" style="height: 220px; width:100%; display:block; object-fit: cover" alt={{this.description}} >
            <div class="card-body">
                <h5 class="card-title"> {{this.title}}</h5>
                <p>${{this.price}}</p> 
            <div class="contenedor-principal">
                    <div class="contenedor-botones-input">
                        <button type="button" class="less-button" data-id="{{this._id}}"
                            aria-label="Disminuir la cantidad en 1" title="Disminuir la cantidad en 1"
                            style="color: rgba(117, 141, 163, 0.6);">
                            -
                        </button>
                        <input type="number" id="quantity-{{this._id}}" name="quantity" aria-label="Cantidad" class="input-quantity" value="1" min="1"
                            size="3">
                        <button type="button" class="add-button" data-id="{{this._id}}"
                            aria-label="Aumentar la cantidad en 1" title="Aumentar la cantidad en 1"
                            style="color: #c58686">
                            +
                        </button>
                    </div>
                </div>
            <button class="btn btn-success add-to-cart" data-id="{{this._id}}">Agregar</button>
            </div>
        </div>        
    {{/each}}
    </div>
</section>

{{!--     {{#if prevLink}}
        página previa: <li class="page-item"></li><a href="{{prevLink}}">{{prevPage}}</a></li>
    {{/if}}
    {{#if nextLink}}
    página siguiente: <a href="{{nextLink}}">{{nextPage}}</a>

{{/if}} --}}
<nav aria-label="navegacion de paginas">

    <ul class="pagination justify-content-center">
        {{#if prevLink}}
        <li class="page-item">
            <a class="page-link" href="{{prevLink}}">Pag. Anterior</a>
        </li>
        {{/if}}
        {{#if page}}
        <li class="page-item">
            <a class="page-link">{{page}}</a>
        </li>
        {{/if}}
        {{#if nextLink}}
        <li class="page-item">
            <a class="page-link" href="{{nextLink}}">Pag. Siguiente</a>
        </li>
        {{/if}}
        {{#if totalPages}}
        <li class="page-item">
            <a class="page-link" href="{{totalPages}}">Última Pag.</a>
        </li>
        {{/if}}
    </ul>

</nav>

<script src="/js/product.js"></script>
<script src="/js/cart.js"></script>